<app-page-wrapper>
  <h1>Learn to play poker</h1>
  <p class="lead">
    Master the art of online poker with our comprehensive guides. Whether you're
    a beginner or looking to refine your skills, our platform offers everything
    you need to succeed in the virtual poker world. Start your journey today and
    dominate the digital tables with confidence!
  </p>
  <p class="lead">
    <button
      type="button"
      class="btn btn-success menu-btn m-2"
      (click)="goToLearn()"
    >
      Learn to Play
    </button>
    <button type="button" class="btn btn-primary menu-btn m-2">
      Play with friends
    </button>
  </p>
</app-page-wrapper>
