<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">LearnPokers</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a
          class="nav-link fw-bold py-1 px-0"
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
        <a
          class="nav-link fw-bold py-1 px-0"
          routerLink="/features"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Features</a
        >
        <a
          class="nav-link fw-bold py-1 px-0"
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact</a
        >
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer class="mt-auto text-white-50">
    <p>
      2024
      <a href="https://learnpokers.com/" class="text-white">LearnPokers.com</a>.
      All Rights Reserved.
    </p>
  </footer>
</div>
